@use "../global" as *;

.post-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: $md) {
    grid-template-columns: 1fr 1fr;
  }
}

.post-card {
  background-color: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 0.3s,
    transform 0.3s;

  &:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  .post-thumb {
    height: 12rem;
    background-color: var(--color-border);
    position: relative;
  }

  .category-tag {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 0.625rem;
    font-weight: 700;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }

  .post-body {
    padding: 1.5rem;
  }

  time {
    font-size: 0.75rem;
    color: var(--color-text-muted);
  }

  h4 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0.5rem 0;
    transition: color 0.3s;

    &:hover {
      color: var(--color-primary);
    }
  }

  .post-excerpt {
    font-size: 0.875rem;
    color: var(--color-text-light);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
