@use "sass:map";

// ブレイクポイント
$breakpoints: (
  "sp": "screen and (max-width: 767.98px)",
  "tab": "screen and (min-width: 768px)",
  "pc": "screen and (min-width: 1024px)",
) !default;

@mixin mq($breakpoint: "tab") {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

