@use "../global" as *;
/* --- _layout.scss --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.l-main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
}

@media (min-width: 1024px) {
  .l-main {
    flex-direction: row;
  }
  .l-main__content {
    width: 66.6%;
  }
  .l-main__sidebar {
    width: 33.3%;
  }
}

.l-actions {
  text-align: center;
  margin-top: 3rem;
}
