@use "../global/" as global;

// セクションタイトル

.c-section-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.c-section-title::before {
  content: "";
  width: 2rem;
  height: 0.25rem;
  background-color: var(--color-primary);
  margin-right: 0.75rem;
  border-radius: 99px;
}
