@use "../global/" as global;

.c-to-top {
  width: 52px;
  height: 52px;
  position: fixed;
  bottom: 97px;
  right: 10px;
  z-index: 20;

  & svg {
    width: 100%;
    height: 100%;
  }

  @include global.mq(pc) {
    bottom: 40px;
    right: 20px;
  }
}
